:root{
    --primary: #837457;
    --secondary: #b39f77;
    --background: #151413;
    --text: #b0ad96;
    --animation: rotate 172s infinite;
    --animationplaystate: paused;
}
.xv1-music {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em
}
.xv1-musiccontainer {   
    border-radius: 0.2em;
    padding: 1em;
    width: 25vw;
    min-width: fit-content;
    height: 23vh;
    background-color: var(--primary);
    border: var(--primary);
    box-shadow:     
    inset 0 -3em 3em var(--primary),
    0 0 0 1px var(--primary),
    0.3em 0.3em 1em var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.xv1-musicimg {
    border-radius: 100%;
    width: 23vh;
    height: 23vh;
    display: flex;
    animation: var(--animation);
    animation-play-state: var(--animationplaystate);
}
@keyframes rotate {
    from   {    transform: rotateZ(0deg);}
to { transform: rotateZ(360deg);
}}
.xv1-playbtn {
    margin: 0.5em;
    align-items: bottom;
    justify-content: bottom;
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    background-color: gray;
}
.xv1-progressbar {
    display: flex;
    align-items: bottom;
    justify-content: bottom;
    margin: 0.5em;
    width: 15vw;
    height: 1vh;
    border-radius: 0.5em;
    background-color: gray;
}
.xv1-musicprogress {
    padding: 1em;
}
.xv1-musicprogress h2 {
    padding-bottom: 2em;
    color: darkgray;
}
.xv1-time {
    color: darkgray;
}
.xv1-progress {
    height: 100%;
    width: 0%;
    background-color: rgb(80, 80, 80);;
    border-radius: 0.5em;
}

.naumovT-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.like {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-like {
    height: 50vh;
    width: 50vh;
    border: 5px solid black;
    border-radius: 50px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicker {
    width: 50%;
    height: 50%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 
        flex-grow 750ms ease-out,
        transform 200ms,
        box-shadow 200ms;
}

.clicker:hover {
    transform: translateY(-7px);
    box-shadow: 2px 4px 15px 10px var(--black);
    cursor: pointer;
}