:root{
    --primary: #837457;
    --secondary: #b39f77;
    --background: #151413;
    --text: #b0ad96;
    --animation: rotate 172s infinite;
    --animationplaystate: paused;
}
.xv1-music {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em
}
.xv1-musiccontainer {   
    border-radius: 0.2em;
    padding: 1em;
    width: 25vw;
    min-width: fit-content;
    height: 23vh;
    background-color: var(--primary);
    border: var(--primary);
    box-shadow:     
    inset 0 -3em 3em var(--primary),
    0 0 0 1px var(--primary),
    0.3em 0.3em 1em var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.xv1-musicimg {
    border-radius: 100%;
    width: 23vh;
    height: 23vh;
    display: flex;
    animation: var(--animation);
    animation-play-state: var(--animationplaystate);
}
@keyframes rotate {
    from   {    transform: rotateZ(0deg);}
to { transform: rotateZ(360deg);
}}
.xv1-playbtn {
    margin: 0.5em;
    align-items: bottom;
    justify-content: bottom;
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    background-color: gray;
}
.xv1-progressbar {
    display: flex;
    align-items: bottom;
    justify-content: bottom;
    margin: 0.5em;
    width: 15vw;
    height: 1vh;
    border-radius: 0.5em;
    background-color: gray;
}
.xv1-musicprogress {
    padding: 1em;
}
.xv1-musicprogress h2 {
    padding-bottom: 2em;
    color: darkgray;
}
.xv1-time {
    color: darkgray;
}
.xv1-progress {
    height: 100%;
    width: 0%;
    background-color: rgb(80, 80, 80);;
    border-radius: 0.5em;
}

.naumovT-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.like {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-like {
    height: 50vh;
    width: 50vh;
    border: 5px solid black;
    border-radius: 50px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicker {
    width: 50%;
    height: 50%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 
        flex-grow 750ms ease-out,
        transform 200ms,
        box-shadow 200ms;
}

.clicker:hover {
    transform: translateY(-7px);
    box-shadow: 2px 4px 15px 10px var(--black);
    cursor: pointer;
}
.FXEE_sec{
    width: 100%;
    height: 100%;
    background-color: lightgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.FXEE_secLine{
    padding: 0;
    margin: 0;
    margin-top: 3vh;
    margin-left: 3vw;
    width: 10vw;
    height: 0.4vh;
    background-color: #b3ff00;
    border-radius: 0.2vh;
}
.FXEE_Btns{
    padding: 0;
    margin: 3vw;
}
.FXEE_B0{
    font-weight: 600;
    width: 10%;
    height: 20%;
    rotate: -20deg;
    border: 1px solid black;
    border-radius: 1vw;
    background-color: pink;
}
.FXEE_B1{
    font-weight: 800;
    width: 10%;
    height: 3%;
    rotate: 26deg;
    border: 1px solid black;
    border-radius: 1vw;
    background-color: orange;
}
.FXEE_B2{
    font-weight: 500;
    width: 20%;
    height: 5%;
    rotate: 140deg;
    border: 3px solid black;
    border-radius: 3vw;
    background-color: green;
}
.FXEE_B3{
    font-weight: 1000;
    width: 10%;
    height: 10%;
    rotate: 0deg;
    border: 0px solid black;
    border-radius: 1vw;
    background-color: red;
}
.FXEE_B4{
    font-weight: 300;
    width: 10%;
    height: 5%;
    rotate: 180deg;
    border: 1px solid black;
    border-radius: 1vw;
    color: black;
    background-color: greenyellow;
}
.FXEE_B5{
    font-weight: 800;
    width: 15%;
    height: 4%;
    rotate: -14deg;
    border: 1px solid black;
    border-radius: 1vw;
    color: black;
    background-color: aquamarine;
}
.FXEE_B6{
    font-weight: 500;
    width: 10%;
    height: 20%;
    rotate: 90deg;
    border: 1px solid black;
    border-radius: 1vw;
    color: black;
    background-color: darkkhaki;
}
.FXEE_B7{
    font-weight: 600;
    width: 20%;
    height: 3%;
    rotate: -56deg;
    border: 1px solid black;
    border-radius: 6vw;
    color: black;
    background-color: darkcyan;
}
.FXEE_B8{
    font-weight: 700;
    width: 10%;
    height: 3%;
    rotate: 50deg;
    border: 1px solid black;
    border-radius: 1vw;
    color: black;
    background-color: blue;
}
.FXEE_B9{
    font-weight: 400;
    width: 10vw;
    height: 3vw;
    rotate: 0deg;
    border: 1px solid black;
    border-radius: 3vw;
    color: black;
    background-color: violet;
}
